---
	import BaseHead from '../components/BaseHead.astro';
	import Header from '../components/Header.astro';
	import Footer from '../components/Footer.astro';
	import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

	// Use Astro.glob() to fetch all posts, and then sort them by date.
	const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
		(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
	);
	console.log(posts);
---

<!DOCTYPE html>
<html lang="en-us">

<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<style lang="scss">
		.articles {

			.article {
				display: flex;
				background: #fff;
				box-shadow: 2px 2px 8px rgb(0 0 0 / 10%);
				border-radius: 4px;
				padding: 0.5em 1.25em;
				margin-bottom: 1.5em;

				.thumbnail {
					display: flex;
					width: 192px;
					height: 144px;
					margin-right: 1rem;
				}

				h2 {
					margin: 0;
				}

				img {
					width: auto;
					height: auto;
					max-width: 192px;
					margin: auto;
				}

				time {
					font-style: italic;
					color: #888;
					font-size: smaller;
					margin: auto 0;
				}

				a {
					text-decoration: none;
				}

				a:visited {
					color: #8e32dc;
				}

				p {
					margin: 0.25rem 0px;
				}

				.tags {

					a {
						font-size: smaller;
						margin: auto 0.25rem;
					}
				}
			}
		}

		@media (max-width: 70ch) {
			.article {
				display: block !important;

				.thumbnail {
					display: none !important;
				}
			}
		}
	</style>
</head>

<body>
	<Header />
	<main>
		<section>
			<div class="articles">
				{posts.map((post) => (
				<div class="article">
					<div class="thumbnail">
						{post.frontmatter.heroImage ?
						<img src={post.frontmatter.heroImage} alt="{post.frontmatter.tittle}" />
						: <img src="/no-image.svg" alt="{post.frontmatter.tittle}" />
						}
					</div>
					<div>
						<h2 class="text-lg font-bold"><a href={post.url}>{post.frontmatter.title}</a></h2>
						<div>
							<time datetime={post.frontmatter.pubDate}>
								{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
								year: 'numeric',
								month: '2-digit',
								day: '2-digit',
								})}
							</time>
						</div>
						<p class="text-sm">{post.frontmatter.description}</p>
						<div class="tags">
							{post.frontmatter.tags?.map((tag) => (
							<a>#{tag}</a>
							))}
						</div>
					</div>
				</div>
				))}
			</div>
		</section>
		<Footer />
	</main>
</body>

</html>